<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Lista mebli:</h1>
      <ul class="akp-products-list">
        <li class="akp-list-item" tabindex="-1">
          <img
            class="akp-list-item__image"
            src="./assets/img/furniture-2.jpg"
            alt=""
          />
          <div>
            <p class="akp-list-item__name">
              <a>Lorem, ipsum dolor.</a>
            </p>
            <p class="akp-list-item__shop">Lorem, ipsum.</p>
            <p class="akp-list-item__price">1000</p>
          </div>
          <p class="akp-list-item__left">10</p>
        </li>
      </ul>
    </div>
  </div>
</div>
