<header class="akp-header">
  <div class="container">
    <div class="row akp-header__wrapper">
      <div class="col-md-8">
        <img
          class="akp-header__logo"
          src="assets/img/akp-logo.jpg"
          width="200"
          height="52"
          alt="akp-meble logo"
        />
      </div>
      <div class="col-md-4">
        <nav>
          <ul class="akp-navigation">
            <li>
              <a class="akp-navigation__item">Meble</a>
            </li>
            <li>
              <a class="akp-navigation__item">Koszyk</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<button (click)="product.test()">zmien produkt</button>

<akp-product #product [products]="data" [productNumber]="diplayPorduct">
</akp-product>
