@import "../variables";
.wlasnaklasa {
  color: red !important;
}
.akp-header {
  padding: 0.5rem 0;

  .akp-header__wrapper {
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-gray;
  }

  .akp-header__logo {
    height: 30px;
    width: auto;
  }
}

.akp-navigation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 1rem;

  .akp-navigation__item {
    color: $color-primary;
    text-decoration: none;

    &.akp-navigation__item_active {
      text-decoration: underline;
    }
  }
}
