<header class="akp-header">
  <div class="container">
    <div class="row akp-header__wrapper">
      <div class="col-md-8">
        <img
          class="akp-header__logo"
          src="assets/img/akp-logo.jpg"
          width="200"
          height="52"
          alt="akp-meble logo"
        />
      </div>
      <div class="col-md-4">
        <nav>
          <ul class="akp-navigation">
            <li>
              <a
                [routerLink]="'products'"
                [routerLinkActive]="'akp-navigation__item_active'"
                class="akp-navigation__item"
                >Meble</a
              >
            </li>
            <li>
              <a
                [routerLink]="'cart'"
                [routerLinkActive]="'akp-navigation__item_active'"
                class="akp-navigation__item"
                >Koszyk</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
